stages:
    - build
    - test 

build website:
    image: node:16-alpine
    stage: build
    script:
        - npm install
        - npm run build
    artifacts:
        paths:
            - dist

test website:
    image: alpine
    stage: test
    script:
        - test -f dist/index.html

# unit tests:
#     image: node:16-alpine
#     stage: test
#     script:
#         - npm install
#         - npm r

