stages:
    # - .pre
    - build
    - test 
    - deploy

build website:
    image: node:16-alpine
    stage: build
    script:
        - npm install
        - npm run lint
        - npm run build
    artifacts:
        paths:
            - dist

test website:
    image: alpine
    stage: test
    script:
        - test -f dist/index.html

.linter website:
    image: node:16-alpine
    stage: .pre
    script:
        - npm install
        - npm run lint

# unit tests:
#     image: node:16-alpine
#     stage: test
#     script:
#         - npm install
#         - npm run test

deploy to s3:
    stage: deploy
    image:
        name: amazon/aws-cli:2.7.18
        entrypoint: [""]
    script:
        - aws --version
        # - echo "hello s3" > test.txt
        # this line of script add folder to s3 bucket and delete all previus added files and folder
        - aws s3 sync dist s3://$AWS_S3_BUCKET --delete 
        # - aws s3 cp test.txt s3://$AWS_S3_BUCKET/test.txt


